/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: white;
  font-size: 1em;
  line-height: 1.4;
  background-color: #191919 ;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
body{
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica,
    ãƒ’ãƒ©ã‚®ãƒŽè§’ã‚´ Pro W3, Hiragino Kaku Gothic Pro, ãƒ¡ã‚¤ãƒªã‚ª, Meiryo,
    ï¼­ï¼³ ï¼°ã‚´ã‚·ãƒƒã‚¯, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  vertical-align: baseline;
  text-decoration: none;
}

h2{
  margin: 0;
}



/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

/* MAIN */

ul{
  list-style: none;
}

.group-image{
  height: 100vh;
  margin-left: auto;
}



.left-side{
  width: 50vw;
  height: 100vh;
}

.image-container{
  background-image: url('../img/g18.png');
  background-repeat: no-repeat;
  height: 100vh;
  /* margin-left: auto; */
  width: 50vw;
  z-index: 0;
  filter: grayscale(100%);
  text-align: right;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.navbar{
  position: absolute;
  width: 100vw;
  align-items: center;
}

.nav-link{
  color: white;
}

.nav-link:hover{
  text-decoration: underline;
}

.flex{
  display: flex;
}

.nav-menu{
  display: flex;
}

.list-item{
  margin-right: 20px;
}

mark{
  padding: .2em;
  background-color: #ffecbf;
  height: 10px;
}


.btn-container{
  margin-left: auto;
}

.outlined-btn{
  border : 1px solid white;
  background: none;
  color: white;
  border-radius: 8px;
  padding: 8px 40px;
  margin-right: 40px;
  cursor: pointer;
}

.filled-btn{
  background-color: #E60023;
  color: white;
  border-radius: 8px;
  padding: 8px 40px;
  margin-right: 40px;
  cursor: pointer;
  border: none;
}

.left-side{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-text{
  margin-left: 40px;
  font-size: 3em;
  line-height: 1;
}

h1{
  margin: 0;
}

.cta-container{
 margin-left: 40px;
 margin-top: 20px;
}

.skills{
  margin-left: 40px;
}

.social-icons{
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  text-align: center;
}

.social-divider{
      transform: rotate(90deg);
    margin: 0;
    margin-top: 60px;
    margin-bottom: 60px;
}

@media (min-width: 800px){
.skills-mobile{
  display: none;
}

.social-icon-mobile,
.mobile-papa,
.menu{
  display: none !important;
}

.mobile-menu-overlay{
  display: none;
}


}

@media (max-width: 800px){

  .mobile-menu-overlay{
    background-color: black;
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 100;
    display: none;
    padding: 20px;
    animation-name: bounceOut;
    animation-duration: 0.4s;
  }

  #close{
    align-self: center;
  }

  .menu-links{
    display: flex;
    flex-flow: column;
    text-align: center;
    line-height: 2;
    font-size: 30px;
    margin-top: 30px;
  }

  @keyframes bounceOut {
    from{
      /*border-radius: 900px;*/
      border-radius: 50%;
      border-top-left-radius: 0%;
      border-top-right-radius: 50%;
      width: 30vw;
      height: 40vh;
    }

    to{
      border-bottom-right-radiusradius: 0%;
      width: 100vw;
      height: 100vh;
    }


  }

  .menu{
    margin-left: 10px;
  }

  .navbar{
    flex-direction: row !important;
    width: 100vw;
  }

  .header-text{
    margin-top: 190px !important;
  }

  .mobile-papa{
    text-align: center;
    filter: grayscale(100%);
  }

  .social-icon-mobile{
    bottom: 0;
    width: 100vw;
    text-align: center;
    padding: 20px 0;
  }

  .icon{
    margin-right: 10px;
  }

  .mobile-divider{
    display: none !important;
    border-top: 1px solid #ededed;
  }

  .navbar{
    padding: 10px 0;
  }

  .nav-menu{
    display: none;
  }

  .image-container, .skills{
    display: none;
  }

  .flex{
    flex-direction: column;
  }

  .left-side{
    width: 100vw;
  }

  .header-text{
    margin: 0 auto;
  }

  .skills-mobile{
    text-align: center;
    margin: 0 auto;
  }

  .h2-text{
    font-size: 50px;
  }

  .cta-container{
    margin: 0 auto;
    width: 100vw;
    align-items: center;
  }

  .cta-container >  .action{
    width: 80vw !important;
    margin-bottom: 8px !important;
    margin: 0 auto;
  }

}