.cart-modal-heading{
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 0;
  min-width: 0;
}

.mb-lg{
  margin-bottom: 20px;
}

.auth--container{
padding: 0 20px !important;
}

.form-title{
  padding-bottom: 26px;
  margin: 0 auto;
}

.facebook-button--positive {
    background-color: #17338F;
    border-color: #17338F;
    color: #fff;
    border-radius: 10px;
    /* box-shadow: 0px 6px 8px 2px rgba(196, 74, 74, 0.3); */
}

.vel-button--positive{
  border-radius: 10px;
}
.google-button--positive {
    background-color: #ffffff;
    border-color: #ffffff;
    color: #000;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 2px rgba(214, 214, 214, 0.73);
}


@media only screen and (min-width: 640px) {
  .auth--container{
    /* max-width: 400px;
    padding: 70px;
    margin-left: 0 auto !important; */
    /* box-shadow: 0px 0px 8px 2px rgba(214, 214, 214, 0.73); */
    border-radius: 8px;
    border: 1px solid #ededed;
    padding: 40px!important;
  }

.empty-state-svg--container{
  padding: 50px;
  width: 600px;
  margin:auto;
}

/* .mb-lg{
  margin-bottom: 60px !important;
} */
}
