.checkout-desktop-wrapper{
	min-height: calc(-50px + 100vh);
}

.image-wrap{
	padding-bottom: 13px;
	width:100%;
	padding-top: 14px;
}

.logo-img{
	margin-left: 20px;
	border: 0px none;
	display: block;
	vertical-align: middle;
}

.checkout-form-wrap{
	max-width: 1100px;
	width: 100%;
	margin: 0px auto;
	display: flex;
	padding: 0 10px;
	-moz-box-orient: horizontal;
	-moz-box-direction: normal;
	flex-flow: row wrap;
	-moz-box-pack: justify;
	justify-content: space-between;
}

.checkout-data-wrap{
	display: flex;
	width: 100%;
	-moz-box-orient: vertical;
	-moz-box-direction: normal;
	flex-direction: column;
	width: calc(60% - 10px);
}

.desktop-timeline{
		position: relative;
    width: 90%;
    max-width: 420px;
		padding: 20px 0px 30px;
		display: flex;
    width: 100%;
    z-index: 10;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 22px 0px 18px;
    margin: 0px auto;
    background: rgb(24, 24, 24);
}

.check-background ::after{
		content: "";
		display: block;
		visibility:visible;
    position: relative;
    height: 8px;
		width: 8px;
		color: white;
    top: 5px;
    left: 4px;
    transform: rotate(225deg);
    background: transparent;
    border-width: 2px;
    border-style: none none solid solid;
    border-color: rgb(234, 245, 255);
    transition: -webkit-transform 0.3s ease 0s, transform 0.3s ease 0s, height 0.3s ease 0s, width 0.3s ease 0s;
}
.check-background{
		height: 16px;
    width: 16px;
    display: block;
    border-radius: 50%;
    background:#00d061;
    padding: 0px;
		margin: 0 auto;
		visibility:visible;
    transition: background-color 0.3s ease 0s;
}

.check-background-uncomplete{
		height: 16px;
    width: 16px;
    display: block;
    border-radius: 50%;
    background: rgb(85, 85, 85);
    padding: 0px;
		margin: 0 auto;
		visibility:visible;
    transition: background-color 0.3s ease 0s;
}

.change-address{
	width: auto;
	margin-left: 15px;
	color:#00d061;
}

.authenticated-user-default-address{
		overflow: hidden;
    visibility: hidden;
    transition: height 300ms ease 0s;
    margin-bottom: 0px;
    padding-top: 15px;
}

.line{
		height: 24px;
    border-top: 2px solid rgb(85, 85, 85);
    border-color: rgb(85, 85, 85);
    flex: 1 1 0%;
    transition: border 0.3s ease 0s;
}

.checkout-data-container{
	display: flex;
	width: 100%;
	-moz-box-orient: vertical;
	-moz-box-direction: normal;
	flex-direction: column;
}

.data-heading{
	display: flex;
	-moz-box-orient: horizontal;
	-moz-box-direction: normal;
	flex-flow: row wrap;
	-moz-box-align: center;
	align-items: center;
}

.checkout-level{
	min-height: 30px;
	min-width: 30px;
	border-radius: 50%;
	background: rgb(54, 54, 54) none repeat scroll 0% 0%;
	color: white;
	display: flex;
	font-size: 16px;
	height: 30px;
	position: relative;
	-moz-box-align: center;
	align-items: center;
	-moz-box-pack: center;
	justify-content: center;
	transition: background-color 0.3s ease 0s;
}

.count{
	font-weight: 500;
	transform: scale(1);
	transition: transform 0.3s cubic-bezier(1, 0, 0.85, 1.7) 0s;
}

.checkout-section-title{
	margin-left: 10px;
	font-size: 20px;
	color: white;
	font-weight: 300;
	flex: 1 1 0%;
	transition: color 0.3s ease 0s;
}

.checkout-data-container{
	background: rgb(34, 34, 34) none repeat scroll 0% 0%;
	padding: 20px 20px 30px;
	border-radius: 4px;
}

.checkout-uk{
	height: 7px;
	width: 13px;
	top: 11px;
	left: 10px;
	border-width: 3px;
	border-style: none none solid solid;
	border-color: white;
	position: absolute;
	transform: scale(0) rotate(-45deg) translateX(1px) translateY(-1px);
	transition: transform 0.3s ease 0s;
}

.checkout-input-wrap{
	overflow: hidden;
	visibility: hidden;
	transition: height 300ms ease 0s;
	margin-bottom: 0px;
	padding-top:15px;
}

.checkout-input-container{
		overflow: visible;
		visibility: visible;
}

.checkout-item{
    width: 100%;
    display: flex;
    padding: 0px 0px 30px;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-flow: row wrap;
    -moz-box-pack: justify;
    justify-content: space-between;
}

.select-wrap{
	  position: relative;
    display: flex;
    max-width: 100%;
    height: 40px;
    -webkit-box-align: center;
    align-items: center;
    background: rgb(54, 54, 54);
		border-radius: 3px;
		/* padding: 0 40px 0 40px; */
		width: calc(50% - 15px);
}

.select-list{
		max-width: 100%;
    height: 40px;
    color: rgb(229, 229, 229);
    font-weight: 500;
    z-index: 2;
    -webkit-appearance: none;
    background: transparent;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    padding: 10px 8px 10px 10px;
    flex: 1 1 0%;
}

.select-list ::before{
	display: block;
    content: ">";
    height: 8px;
    width: 8px;
    position: absolute;
    right: 12px;
    top: 14px;
    transform: rotate(-135deg);
    background: transparent;
    border-width: 2px;
    border-style: solid none none solid;
    border-color: rgb(234, 245, 255);
}

.select-list >  option{
	background-color: rgb(85, 85, 85);
	font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}
.is-toggled{
	padding: 30px;
	margin-top: 20px;
	border-radius: 3px;
}

.is-toggled > .checkout-section-title{
	color: rgb(127, 127, 127);
}

.order-sum-container{
	display: flex;
	width: 100%;
	-moz-box-orient: vertical;
	-moz-box-direction: normal;
	flex-direction: column;
	width: calc(40% - 10px);
}

.sum-wrap{
	padding: 10px 20px 20px;
	background: rgb(34, 34, 34) none repeat scroll 0% 0%;
	position: relative;
	box-shadow: none;
}

.order-summary{
	background: rgb(34, 34, 34) none repeat scroll 0% 0%;
	visibility: visible !important;
	height: auto !important;
}

.order-summary-heading{
	padding: 18px 0 18px 0;
	font-weight:500;
}


.order-total{
	display: flex;
	-moz-box-orient: horizontal;
	-moz-box-direction: normal;
	flex-direction: row;
	-moz-box-pack: justify;
	justify-content: space-between;
}

hr{
	border-bottom: 1px solid rgb(54, 54, 54);
	margin: 20px 0px;
}

.shipment{
	display: flex;
	margin: 0px 0px 8px;
	-moz-box-orient: horizontal;
	-moz-box-direction: normal;
	flex-direction: row;
	-moz-box-pack: justify;
	justify-content: space-between;
}
.total-heading{
	font-weight:700;
	color:white;
}

.order-item{
		display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.pricing-title{
	color: rgb(127, 127, 127);
	font-size: 12px;
	font-weight: 500;	
	text-align: right;
	flex: 1 1 0%;
}

.main-pricing{
	max-width: 125px;
	text-align: right;
	font-size: 12px;
	font-weight: 400;
	flex: 1 1 0%;
}

.disclaimer{
		color: rgb(204, 204, 204);
    font-size: 13px;
    line-height: 1.3;
    padding-top: 20px;
    font-weight: 300;
    margin: 0px 0px 40px;
}


.checkout-footer{
		display: flex;
		background: transparent;
		margin-top:20px; 
    max-width: 1100px;
    padding-bottom: 50px;
    padding-top: 25px;
    padding-left: 10px;
    border-top: 1px solid rgb(54, 54, 54);
    margin: 30px auto 0px auto;
}

.add-address{
	font-weight: 500;
    margin-top: 10px;
    position: relative;
    cursor: pointer;
    background: #00d061;
    border-width: 1px;
    border-style: solid;
    border-color: #00d061;
    border-image: initial;
    padding: 10px 20px;
		border-radius: 2px;
		visibility: visible;
		color:white

}


.check{
	height: 7px;
	width: 13px;
	top: 11px;
	left: 10px;
	border-width: 3px;
	border-style: none none solid solid;
	border-color: white;
	position: absolute;
	transform: scale(1) rotate(-45deg) translateX(1px) translateY(-1px);
	transition: transform 0.3s cubic-bezier(1, 0, 0.85, 1.7) 0s;
}
/* * {
    visibility: visible;
} */
/*=================== MOBILE ======= */
@media only screen and (max-width: 590px){
.mty-checkout-header{
	background-color: #041e42;
	height: 120px;
/*	box-shadow: 0px 0px 6px rgba(32, 33, 36, 0.28);*/
	padding:10px;
}

.mty-reverse{
/*	padding: 10px;*/
	font-size: 18px;
}

.mty-checkout-timeline{
	margin-top: 20px;
}

.timeline-line{
	background-color: #ffffff;
	height: 4px;
    width: 80%;
    margin: auto;
}

.dot-contain{
    width: 28%;
   /* margin-left: 50px;*/
}

.timeline-shipping{
	border-radius: 50%;
	background-color: #00d061;
	width: 15px;
	height: 15px;
	margin-top:-10px;
	border: 2px solid white;
	box-shadow: 0px 0px 6px rgba(32, 33, 36, 0.28);
}

.timeline-fill{
	width: 38%;
    background: #00d061;
    height: 4px;
    position: fixed;
}

.timeline-payment{
	border-radius: 50%;
/*	background-color: green;*/
	width: 15px;
	height: 15px;
	margin-top:-10px;
	border: 2px solid white;
/*	background-color: #ff9f00;*/
	box-shadow: 0px 0px 6px rgb(0, 0, 0);
}

.timeline-confirmation{
	border-radius: 50%;
	background-color: green;
	width: 15px;
	height: 15px;
	margin-top:-10px;
	border: 2px solid white;
	background-color: #ff9f00;	
	box-shadow: 0px 0px 6px rgba(32, 33, 36, 0.28);
}

.address-confirmation{
	margin-top: 15px;
	padding: 15px;
	background-color: white;
}


.mty-address-grid{
	background-color: white;
	border-top: 1px solid #f5f5f5;
	box-shadow: 0px 10px 25px 0px rgba(154, 154, 154, 0.25)l
}

.address-header{
	padding:12px;
	border-bottom:1px solid #ededed;
}

.address-details{
	border-top: 1px solid #f5f5f5;
}

.content{
	padding:15px;
	border-bottom:1px solid #ededed;
}

.change-address{
	float: right;
	text-decoration: none;
	color: #00d061;
}

.content-title{

}

.content{
	background-color: white;
}

.content-detail{
	color: #aaaaaa;
	display: block;
}

.mty-cta{
	background-color: white;
	padding: 10px;
	margin-top: 10px;
	bottom: 0;
	width: 100%;
	text-align: center;
}

.mty-main-button{
	margin-top: 10px; 	
	padding: 12px;
	border:none;
	background-color: #00d061;
	color: white;
	width: 99%;
	box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15)
	border-radius: 5px;
}

.summary{
	display: flex;
	padding: 10px;
	width: 100%;
}

.summary-main{
	margin:0;
	width: 50%;
	text-align:left;
	margin-left: 10px;
}

.summary-price{
	margin: 0;
	text-align:right;
	width: 50%;
	margin-right: 10px;
}

/*toggle switch*/
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 22px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
  background-color: #00d061;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


/**/
}


@media  only screen and (min-width: 600px){
	.mty-main{
		display: none;
	}
}